{% extends "base.html" %}
{% block title %} Add a new hotel {% endblock %}
{% block content %}
<div>
    <div class="FormAddHotel">
        <form class="container" action="" method="POST">
        {% csrf_token %}
        {% for field in formAddHotel %}
        <div class="form-group">
            {{ filed.error }}
            <a style="color:black">{{ field.label_tag }}</a>
            {{ field }}
        </div>
        {% endfor %}
            <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        </form>
    </div>
</div>
{% endblock %}