<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a room</title>
</head>
<body>
    <h1>Booking.com</h1>
    <nav>
        <ul>
            <li>
                <button>Logout</button>
            </li>
        </ul>
    </nav>
    <br><br>
    <div class="addRoomFormDiv">
        <p>Add a room!</p>
        <form action="TODO#TODO#TODO">
            <input type=text value="Room number"><br>
            <input type=text value="Number of beds"><br>
            <br><br>
            <p>Services</p>
            <input type="checkbox" name="service" value="garage">Garage<br>
            <input type="checkbox" name="service" value="breakfast">Breakfast<br>
            <input type="checkbox" name="service" value="wifi">Wifi<br>
            <input type="checkbox" name="service" value="petsFriendly">Pets-friendly<br>
            <br><br>
            <input type=text value="Price">



            <input type="submit" value="Add the room">
        </form>
    </div>

</body>
</html>