{% extends "base.html" %}
     {% block content %}
<div class="container-fluid bkgrd">

<div class="container formCont">
<form method="POST" action="">
    {% csrf_token %}
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label forAddR">{{form.roomNumber.label_tag}}</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="roomNumber" id="inputEmail3" placeholder="21">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label forAddR">{{form.bedsNumber.label_tag}}</label>
    <div class="col-sm-10">
      <input type="text" name="bedsNumber" class="form-control" id="inputPassword3" placeholder="3">
    </div>
  </div>
      <div class="form-check">
        <input name="services" class="fff" type="checkbox" id="gridCheck1" value="TELEPHONE">
        <label class="form-check-label forAddR" for="gridCheck1">
          Telephone
        </label>
      </div>

      <div class="form-check">
        <input name="services" class="fff" type="checkbox" id="gridCheck2" value="GARAGE">
        <label class="form-check-label forAddR" for="gridCheck2">
          Garage
        </label>
      </div>

      <div class="form-check">
        <input name="services" class="fff" type="checkbox" id="gridCheck3" value="WIFI">
        <label class="form-check-label forAddR" for="gridCheck3">
          WiFi
        </label>
      </div>

      <div class="form-check">
        <input name="services" class="fff" type="checkbox" id="gridCheck4" value="BREAKFAST">
        <label class="form-check-label forAddR" for="gridCheck4">
          Breakfast
        </label>
      </div>

      <div class="form-check">
        <input name="services" class="fff" type="checkbox" id="gridCheck5" value="LUNCH">
        <label class="form-check-label forAddR" for="gridCheck5">
          Lunch
        </label>
      </div>

      <div class="form-check">
        <input name="services" class="fff" type="checkbox" id="gridCheck6" value="DINNER">
        <label class="form-check-label forAddR" for="gridCheck6">
          Dinner
        </label>
      </div>

      <div class="form-check">
        <input name="services" class="fff" type="checkbox" id="gridCheck7" value="BRUNCH">
        <label class="form-check-label forAddR" for="gridCheck7">
          Brunch
        </label>
      </div>

    <div class="form-group row">
        <label for="inputprice" class="col-sm-2 col-form-label forAddR corr">{{form.price.label_tag}}</label>
        <div class="col-sm-10">
        <input name="price" type="number" class="form-control" id="inputprice" placeholder="€ 45">
     </div>
    </div>
        <div>
        <button type="submit" class="btn btn-success addRoomBtn">Add room</button>
    </div>
</form>

</div>

</div>


{% endblock %}
