<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Title {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
          <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    </head>
    <body style="background-color:#edf3ff">
        <nav class="navbar navbar-expand-lg navbar-primary bg-primary" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand text-white" href="#">Booking.ISW</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {% if request.path == '/home/' and request.session.usrType is not None and request.session.usrType == 'hotelKeeper' %}
                        <li class="nav-item">
                               <a href="/hotels/" style="color:white">My hotels</a>
                       </li>
                    {% endif %}
                    {% if request.path == '/hotel/' and request.session.usrType is not None and request.session.usrType == 'hotelKeeper' %}
                        <li class="nav-item">
                               <a href="/addRoom/" style="color:white" >Add room</a>
                       </li>
                    {% endif %}
                    {% if request.path == '/hotels/' and request.session.usrType is not None and request.session.usrType == 'hotelKeeper' %}
                        <li class="nav-item">
                               <a href="/addHotel/" style="color:white">Add an hotel</a>
                       </li>
                    {% endif %}
                </ul>
                {% if request.session.usr is not None %}
                    <a href="/logout/" style="margin-right:2%; color:white">Logout</a>
                    <a href="/profile/" style="margin-right:2%; color:white">{{request.session.usr}}</a>
                {% else %}
                    <a href="/signUp/" style="margin-right:2%; color:white; ">Sign up</a>
                    <a href="/login/"  style="margin-right:2%; color:white " >Login</a>
                {% endif %}
            </div>
        </nav>
            {% block content %}{% endblock %}
        <footer class="footer" style="position: fixed;
                                      height: 44px;
                                      background-color:#bfbfbf;
                                      bottom: 0px;
                                      left: 0px;
                                      right: 0px;
                                      margin-bottom: 0px;
                                      border-color:gray;">

            <div>
                <p style="float:left;margin-top:0.7%;margin-left:5%;font-style:italic;">Copyright © ISW Group 2018</p>
                <div style="float:right;margin-right:3%;">
                    <img src="../static/img/twitter.png" width="24px" height="24px" alt="not found" style="padding-left:0.2%;margin-top:3.7%" >
                    <img src="../static/img/facebook.png" width="37px" height="37px" alt="not found" style="margin-top:4%;">
                    <img src="../static/img/instagram.png" width="24px" height="24px" alt="not found" style="margin-top:4%;margin-left:-0.4%;">
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    </body>





</html>