{% extends "base.html" %}
{% block content %}

<h1>Le tue prenotazioni</h1>
{% for item in listaPrenotazioni %}
<div class="card" style="width: 30rem;" align="center">
  <img class="card-img-top" src="static/img" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Hotel: {{item.roomId.hotelId.name}}</li>
    <li class="list-group-item">Camera: {{item.roomId.roomNumber}}</li>
    <li class="list-group-item">Cliente : {{item.customerId.name}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Gestisci prenotazione</a>
  </div>
    <!--- oppure, al posto del div precedente che reindirizzerebbe ad un'altra pagina,
  <div class="card-body">
    <a href="#" class="card-link">Accetta</a>
    <a href="#" class="card-link">Rifiuta</a>
  </div>
  --->
</div>
{%endfor%}

{% endblock %}
