{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div style="margin-left: 5%;  margin-top: 2%; margin-button: 5%">
  <h1>Reservations in your hotel</h1>
</div>
{% for item in listaPrenotazioni %}
<div class="Prenotazioni"  style="float: left; background-color: white; margin-left: 10%; margin: 5%">
    <div class="Image" style="float: left; width: 25rem">
        <div class="card">
        <img class="card-img-top" style="width: 100%; height: 100%" src=/{{item.roomId.hotelId.photoUrl}} alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
        </div>
        </div>
    </div>

    <div class="Info" style="width: 50rem">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Hotel: {{item.roomId.hotelId.name}}</li>
            <li class="list-group-item">Room: {{item.roomId.roomNumber}}</li>
            <li class="list-group-item">Customer : {{item.customerId.name}}</li>
        </ul>
    </div>
</div>
{%endfor%}
{% if listaPrenotazioni|length == 0 %}
            <div class="p-3 mb-2 bg-danger text-white" style="margin-left:30%; margin-right:30%; border: 3px solid; border-radius: 15px">
                <br><br>
                <h4 style="text-align: center; height: 90px">You have not reservations in your hotels!</h4>
             </div>
{% endif %}

{% endblock %}
