<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Booking.com</h1>
<nav>
    <ul>
        <li>
            <a href="">Lista hotel</a>
        </li>
        <li>
            <a href="">Logout</a>
        </li>
    </ul>
</nav>
<br><br>
<div>
    <p>Hotel 1</p>
    <p>Camera 2</p>
    <p>Utente 1</p>
</div>
<hr>
<div>
    <p>Hotel 3</p>
    <p>Camera 4</p>
    <p>Utente 2</p>
</div>
<hr>
<div>
    <p>Hotel 2</p>
    <p>Camera 2</p>
    <p>Utente 4</p>
</div>
</body>
</html>