{% extends "searchBar.html" %}
{% load static %}
{% block container %}


<div class="container" style="margin-top:10%">
    <table>
    <tr>
        <td style="width:350px;height:80px">
            <div class="card" style="height:100%">
              <img class="card-img-top" style="height:240px" src=/{{hotel1.photoUrl}} alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><a>{{ hotel1.name }}</a></h4>
                <p class="card-text">{{ hotel1.description }}</p>
                <a href="booking/?hotelName={{hotel1.name}}" class="btn btn-primary">prenota</a>
              </div>
            </div>
        </td>
        <td style="width:350px;height:80px">
            <div class="card" style="height:100%">
              <img class="card-img-top" style="height:240px" src=/{{hotel2.photoUrl}} alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><a>{{hotel2.name}}</a></h4>
                <p class="card-text">{{hotel2.description}}</p>
                <a href="booking/?hotelName={{hotel2.name}}" class="btn btn-primary">prenota</a>
              </div>
            </div>
        </td>
        <td style="width:350px;height:80px">
            <div class="card" style="height:100%">
              <img class="card-img-top" style="height:240px" src=/{{hotel3.photoUrl}} alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><a>{{hotel3.name}}</a></h4>
                <p class="card-text">{{hotel3.description}}</p>
                <a href="booking/?hotelName={{hotel3.name}}" class="btn btn-primary">prenota</a>
              </div>
            </div>
        </td>
    </tr>
    </table>
</div>

{% endblock %}
