{% extends "searchBar.html" %}
{% load static %}
{% block title %} Home {% endblock %}
{% block container %}
<div class="container">
    <table style="margin-top:3%; margin-left: 10%; margin-right: 10%">
    <tr>
        <td style="width:350px;height:80px">
            <div class="card" style="height:100%;width:90%">
              <img class="card-img-top" style="height:220px" src="../static/img/cagliari.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Summer party in Cagliari 21/07/2018!</h4>
                <p class="card-text">Hurry up, find your room!</p>
              </div>
            </div>
        </td>
        <td style="width:350px;height:80px">
            <div class="card" style="height:100%;width:90%">
              <img class="card-img-top" style="height:220px" src="../static/img/calaG.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Summer times!</h4>
                <p class="card-text">Search your hotel in beautiful seaside!</p>
              </div>
            </div>
        </td>
        <td style="width:350px;height:80px">
            <div class="card" style="height:100%;width:90%">
              <img class="card-img-top" style="height:220px" src="../static/img/mountains.jpg" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Wanna go to the mountain? </h4>
                <p class="card-text">Booking.ISW finds your hotel with advantageous prices!</p>
              </div>
            </div>
        </td>
    </tr>
    </table>
</div>

{% endblock %}