<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Booking.com</h1>
<nav>
    <ul>
        <li>
            <button>Profilo</button>
        </li>
        <li>
            <button>Logout</button>
        </li>
    </ul>
</nav>
<br><br><br><br>
<div>
    <h2>Proposta 1</h2>
    <img src="" alt="non trovata">
    <div>
    <a>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut odio. Nam sed est. Nam a risus et est iaculis adipiscing. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer ut justo. In tincidunt viverra nisl. Donec dictum malesuada magna. Curabitur id nibh auctor tellus adipiscing pharetra. Fusce vel justo non orci semper feugiat. Cras eu leo at purus ultrices tristique.
    </a>
    </div>
    <p>Prezzo: 150,00 €</p>
</div>
<hr>
<div>
    <h2>Proposta 2</h2>
    <img src="" alt="non trovata">
    <div>
    <a>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut odio. Nam sed est. Nam a risus et est iaculis adipiscing. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer ut justo. In tincidunt viverra nisl. Donec dictum malesuada magna. Curabitur id nibh auctor tellus adipiscing pharetra. Fusce vel justo non orci semper feugiat. Cras eu leo at purus ultrices tristique.
    </a>
    </div>
    <p>Prezzo: 150,00 €</p>
</div>
<hr>
<div>
    <h2>Proposta 3</h2>
    <img src="" alt="non trovata">
    <div>
    <a>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut odio. Nam sed est. Nam a risus et est iaculis adipiscing. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer ut justo. In tincidunt viverra nisl. Donec dictum malesuada magna. Curabitur id nibh auctor tellus adipiscing pharetra. Fusce vel justo non orci semper feugiat. Cras eu leo at purus ultrices tristique.
    </a>
    </div>
    <p>Prezzo: 178,75 €</p>
</div>
</body>
</html>