<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<nav>
    <h1>Booking.com</h1>
</nav>
<div>
    <div class="LoginForm">
     <form>
            <fieldset>
         <legend>Compile the form:</legend>
                Email: <input type="email"><br>
                Password: <input type="password"><br>
          </fieldset>
     </form>
    </div>
    <div class="SignUp">
        <h3>Or</h3>
        <li>
            <a href="">Sign Up</a>
        </li>
    </div>

</div>

</body>
</html>