{% extends "base.html" %}
     {% block content %}

    <form class="container" style="width:50%;margin-top:12%;" action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ filed.error }}
                <a>{{ field.label_tag }}</a>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <div>
        <h3>Or</h3>
        <li>
            <a href="">Sign Up</a>
        </li>
    </div>
{% endblock %}