<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Manage your hotel</title>
</head>
<body>
    <h1>Booking.com</h1>
    <nav>
        <ul>
            <li>
                <button>Logout</button>
            </li>
        </ul>
    </nav>
    <br><br>
    <div>
        <button>Add a room</button>
    </div>
    <br><br>
    <div class="hotelDetailsDiv">
        <ul>
            <li>
                Nome: La marina
            </li>
            <li>
                Descrizione: uno bello hotel
            </li>
            <li>
                Indirizzo: via di qua 911, viareggio 05452
            </li>
        </ul>
    </div>
    </div class="roomsListDiv">
        <div class="roomListHeaderDiv">

        </div>
        <div class="roomItemListDiv">
            <ul>
                <li>Room number: 666</li>
                <li>Beds: 2</li>
                <li>Services: Telephone, Internet</li>
            </ul>
        </div>
        <div class="roomItemListDiv">
            <ul>
                <li>Room number: 61</li>
                <li>Beds: 10</li>
                <li>Services: Telephone, Internet</li>
            </ul>
        </div>
    </div>
</body>
</html>