<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Manage your hotel</title>
</head>
<body>
    <h1>Booking.com</h1>
    <nav>
        <ul>
            <li>
                <button>Logout</button>
            </li>
        </ul>
    </nav>
    <br><br>
    <div>
        <button>Add a room</button>
    </div>
    <br><br>
    <div class="hotelDetailsDiv">
        <ul>
            <li>
                Nome: {{hotel.name}}
            </li>
            <li>
                Descrizione: {{hotel.description}}
            </li>
            <li>
                Indirizzo:{{hotel.address.rue}}{{ hotel.addess.houseNumber}}{{ hotel.address.city}}{{ hotel.address.zipCode}}
            </li>
        </ul>
    </div>
    </div class="container">
        {% for rm in roomList %}
        <p>Numero stanza: {{rm.roomNumber}}</p>
        <p>Capacità: {{rm.capacity}}</p>
        <p>Prezzo: {{rm.price}}</p>
        {% endfor %}
    </div>

</body>
</html>