{% extends "base.html" %}
{% block title %} Manage hotel {% endblock %}
{% block content %}
<table style="margin-top:5%">
    <tr>
        <td>
<div class="container">
<div class="card" style="width:600px;height:380px;border-radius:0.5rem;">
    <img class="card-img-top" style="height:240px;width:598px;border-radius:0.5rem;;" src=/{{hotel.photoUrl}} alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title"><a>Name of hotel: {{hotel.name}}</a></h4>
        <p class="card-text">Description: {{hotel.description}}</p>
        <p class="card-text">Address: {{hotel.address.rue}} {{hotel.address.houseNumber}} {{hotel.address.city}} {{hotel.address.zipCode}}</p>
    </div>
</div>
</div>
        </td>
        <td>
<div class="container">
    <div class="row">
    {% for rm in roomList %}
        <div class="col-sm-6">
    <div class="card" style="height:380px;width:250px;border-radius:1rem;">
      <div class="card-body">
        <h5 class="card-title">Room number: {{rm.roomNumber}}</h5>
        <p class="card-text">beds number: {{rm.capacity}}</p>
          <p>Price: € {{rm.price}}</p>
      </div>
    </div>
  </div>
    {% endfor %}
    </div>
</div>
        </td>
    </tr>
</table>
{% endblock %}

