<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Error</title>
            <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
          <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>
<body style="background-color:#f9f9f9">
    <nav class="navbar navbar-expand-lg navbar-primary bg-primary" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand text-white" href="/">Booking.ISW</a>
        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Warning !!!</h1>
    <p class="lead" style="font-size:32px;">{{message}}</p>
  </div>
</div>

        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>