{% extends "base.html" %}
{% block title %} Book a room {% endblock %}
     {% block content %}
    <div class="card liste" style="width: 30rem;">
  <img class="card-img-top" src="/{{roomBooking.hotelId.photoUrl}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{roomBooking.hotelId.name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Stanza: {{roomBooking.roomNumber}}</li>
    <li class="list-group-item">Total price: € {{roomBooking.price}}</li>
    <li class="list-group-item">Services:</li>
      <ul >
      {% for i in roomBooking.services.all %}
      <li class="list-group-item">{{i}}</li>
    {%endfor%}
       </ul>
  </ul>
    </div>
    <!-- Utente esistente -->
    {% if bookingUser is not None and creditCardUser is not None %}
        <ul>
            <li>
                Name: {{bookingUser.name}}
            </li>
            <li>
                Surname: {{bookingUser.surname}}
            </li>
            <li>
                Email: {{bookingUser.email}}
            </li>
            <li>
                Date of birth: {{bookingUser.birthday}}
            </li>
        </ul>
    {% endif %}

    <!-- esiste pure la carta esistente -->

    {% if creditCardUser is not None %}
        <ul>
            <li>
                Card number: {{creditCardUser.cardNumber}}
            </li>
        </ul>
    <form class="container" style="width:50%;margin-top:12%;" action="" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">reserve</button>
    </form>
    {% endif%}
    <!-- non esiste la carta -->

    {% if formBookingwithout is not None %}
    <form class="container" style="width:50%;margin-top:12%;" action="" method="POST">
        {% csrf_token %}
        {% for field in formBookingwithout %}
            <div class="form-group">
                {{ filed.error }}
                <a>{{ field.label_tag }}</a>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">reserve</button>
    </form>
    {% endif %}

    <!-- l'utente deve registrarsi -->
    {% if formBooking is not None %}
    <form class="container" style="width:50%;margin-top:12%;" action="" method="POST">
        {% csrf_token %}
        {% for field in formBooking %}
            <div class="form-group">
                {{ filed.error }}
                <a>{{ field.label_tag }}</a>
                {{ field }}
            </div>
        {% endfor %}
     <button type="submit" class="btn btn-primary">reserve</button>
    </form>
    {% endif %}

{% endblock %}