<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div class="Profile">
    <ul>
        <li>
            Name:
        </li>
        <li>
            Surname:
        </li>
        <li>
            Email:
        </li>
        <li>
            Date of birth:
        </li>
        <li>
            Number of card credit:
        </li>
        <li>
            Chronology:
            <ul>
                    <li>Hotel: Hilton</li>
                    <li>Price: € 300,00</li>
                    <li>Service: BreakFast</li>
                    <li>Number of beds: 3</li>
                <br>
            </ul>
            <ul>
                    <li>Hotel: B&B Mario Piras </li>
                    <li>Price: € 56,00</li>
                    <li>Service: BreakFast, Garage</li>
                    <li>Number of beds: 1</li>
            </ul>
        </li>
    </ul>
</div>

</body>
</html>