<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>

<body>
<div class="Profile">
    <ul>
        <li>
            Name: {{userProfile.name}}
        </li>
        <li>
            Surname: {{userProfile.surname}}
        </li>
        <li>
            Email: {{userProfile.email}}
        </li>
        <li>
            Date of birth: {{userProfile.birthday}}
        </li>
        <li>
            Number of card credit: {{creditCardView.cardNumber}}
        </li>
        <li>
            Chronology:
            <ul>
                    <li>Hotel: Hilton</li>
                    <li>Price: € 300,00</li>
                    <li>Service: BreakFast</li>
                    <li>Number of beds: 3</li>
                <br>
            </ul>
            <ul>
                    <li>Hotel: B&B Mario Piras </li>
                    <li>Price: € 56,00</li>
                    <li>Service: BreakFast, Garage</li>
                    <li>Number of beds: 1</li>
            </ul>
        </li>
    </ul>
</div>

</body>
</html>