{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{% block content %}
<div class="profile">
        <div class="information" style="width:30rem; margin-left:10%; margin-right:5%; float:left">
            <br>
            <h4>Your information:</h4>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary">Name: {{userProfile.name}}</li>
                    <li class="list-group-item list-group-item-primary">Surname: {{userProfile.surname}}</li>
                    <li class="list-group-item list-group-item-primary">Username: {{userProfile.userName}}</li>
                    <li class="list-group-item list-group-item-primary">Domicile: {{userProfile.address.city}} {{userProfile.address.street}} {{userProfile.address.houseNumber}}</li>
                    <li class="list-group-item list-group-item-primary">Email: {{userProfile.email}}</li>
                    <li class="list-group-item list-group-item-primary">Birthday: {{userProfile.birthday}}</li>
                    {% if flag == True%}
                    <li class="list-group-item list-group-item-primary">Number of credit card: {{creditCardView.cardNumber}}</li>
                    {% endif %}
                </ul>
        </div>
        <div class="reservations" style="width:30rem; margin-left:10%; float:left; margin-right:5%">
            <br>
            {% if flag2 == False %}
            <h4>You do not have any reservations yet</h4>
            {% else %}
            <ul class="list-group">
              <h4>Chronology of your reservations:</h4>
                 {% for item in listBooking %}
                     <li class="list-group-item list-group-item-secondary">Name of Hotel: {{item.2.name}}</li>
                     <li class="list-group-item list-group-item-secondary">Address: {{item.2.address}}</li>
                     <li class="list-group-item list-group-item-secondary">Room Number: {{item.1.roomNumber}}</li>
                     <li class="list-group-item list-group-item-secondary">CheckOut: {{item.0.checkOut}}</li>
                     <li class="list-group-item list-group-item-secondary">CheckIn: {{item.0.checkIn}}</li>
                     <li class="list-group-item list-group-item-secondary">Price: {{item.1.price}}</li>
                <br><br>
                 {% endfor %}
            </ul>
            {% endif %}
        </div>
</div>
{% endblock %}

