<!-- Pagina di output delle ricerche -->
{% extends "searchBar.html" %}
    {% block container %}
            <div>
                <h2>Risultati ricerca</h2>
            </div>
{% for item in listResult %}
<div class="card liste" style="width: 30rem;">
  <img class="card-img-top" src="/{{item.4}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{item.0}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Stanza: {{item.1}}</li>
    <li class="list-group-item">Total price: € {{item.2}}</li>
    <li class="list-group-item">Services: {{item.3}}</li>
  </ul>
  <div class="card-body">
    <a href="" class="btn btn-primary">Go to details</a>

{%endfor%}
{% for item in listaVuota %}
    <div>
        <h3>Non ci sono camera disponibili con questi dati</h3>
    </div>
{%endfor%}
    {% endblock %}