{% extends "base.html" %}
     {% block content %}

            <div style="margin:auto; text-align: center">
                <h2>What would you like to book?</h2>
            </div>


                <nav class="navbar navbar-light bg-ligh searchBar">
                        <form class="form-inline" method="GET" action="/search/">
                        {% csrf_token %}
                    <input class="form-control mr-sm-2"  id="search_box" type="text" name="search_city" placeholder="In che città vuoi andare?">
                           <select name="search_number"  placeholder="Numero posti letto">
                                <option value=1 selected="selected">Numero posti 1</option>
                                <option value=2>Numero posti 2</option>
                                <option value=3>Numero posti 3</option>
                                <option value=4>Numero posti 4</option>
                                <option value=5>Numero posti 5</option>
                                <option value=6>Numero posti 6</option>
                                <option value=7>Numero posti 7</option>
                                <option value=8>Numero posti 8</option>
                                <option value=9>Numero posti 9</option>
                                <option value=10>Numero posti 10</option>

                            </select>
                        <input class="form-control mr-sm-2" type = date name="search_checkin" value = "CheckIn" placeholder="check In?">
                        <input class="form-control mr-sm-2" type = date name="search_checkout" value = "CheckOut" placeholder="check Out?">
                      <button class="btn btn-outline-success my-2 my-sm-0" id="search_submit" type="submit" >Search</button>
                    </form>
                </nav>

    {% block container %}{% endblock %}
{% endblock %}