<!-- Pagina di output delle ricerche -->
{% extends "searchBar.html" %}
    {% block container %}
            <div>
                <h2>Risultati ricerca</h2>
            </div>
            <div>
                <table>
                  <tr>
                    <th>Hotel</th>
                    <th>Total Price</th>
                    <th>Service</th>
                    <th>N°</th>
                  </tr>
                    {% for item in listResult %}
                  <tr>
                    <th>{{item.0}}</th>
                    <th>{{item.1}}</th>
                    <th>{{item.2}}</th>
                     {% endfor %}
                  </tr>
                </table>

            </div>
    {% endblock %}