{% extends "base.html" %}
{% block title %} SignUp as hotel keeper {% endblock %}
{% block content %}
<div>
    <div class="FormSign">
     <form>
            <fieldset>
         <legend>Compile the form:</legend>
                UserName: <input type="text"><br>
                Name: <input type="text"><br>
                Surname: <input type="text"><br>
                Email: <input type="email"><br>
                Date of birth: <input type="date"><br>
                Fiscal Code: <input type="text"><br>
                Password: <input type="password"><br>
                Confirm the password: <input type="password"><br>

                <input type="checkbox" name="hotelKepper" value="hotelKepper"/> Are you a hotel kepper?
          </fieldset>
     </form>
    </div>
</div>
{% endblock %}