<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
</head>
<body>
<nav>
    <h1>Booking.com</h1>
</nav>
<div>
    <div id="Form for Sign-Up">
     <form>
            <fieldset>
         <legend>Compile the form:</legend>
                UserName: <input type="text"><br>
                Name: <input type="text"><br>
                Surname: <input type="text"><br>
                Email: <input type="email"><br>
                Date of birth: <input type="date"><br>
                Fiscal Code: <input type="text"><br>
                Password: <input type="password"><br>
                Confirm the password: <input type="password"><br>
          </fieldset>
     </form>
    </div>
</div>

</body>
</html>