{% extends "base.html" %}
{% block title %} SignUp {% endblock %}
     {% block content %}
<div class="signUp" style="margin-top: 2%">
    <form class="container" action="" style="width:40%; height:10%;" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group" style="color:white;font-size:25px">
                {{ field.errors }}
                <a>{{ field.label_tag }}</a>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" style="width: 100%">Login</button>
    </form>
</div>

{% endblock %}