{% extends "base.html" %}
{% block title %} SignUp {% endblock %}
     {% block content %}

    <form class="container" action="" style="width:40%;height:30%;" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ filed.error }}
                <a>{{ field.label_tag }}</a>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}