<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Hotels</title>
</head>
<body>
<nav>
    <h1>Booking.com</h1>
    <ul>
        <li>
            <a href="">Logout</a>
        </li>
    </ul>
</nav>
<div>
    <div id="Add Hotel">
        <button type="button">Add hotel</button>
    </div>

    <div id="List of Hotels">
        <ul>
            <li>
                <h3> Hotel La Marina </h3>

                <p>
                    Nel cuore di Cagliari, per te.
                </p>

                <button type="button"> Add room</button>
            </li>

            <li>
                <h3> Hotel Mario </h3>

                <p>
                    Nel cuore di Piras, per te.
                </p>

                <button type="button"> Add room</button>
            </li>
        </ul>

    </div>
</div>

</body>
</html>