{% extends "base.html" %}
{% load static %}
{% block title %} My hotels {% endblock %}
{% block content %}
<div>
    <h2>Your hotels</h2>
</div>

        {% for item in hotelList %}
            <div class="card " style="width:40rem;margin:auto;margin-top:3%">
                <img class="card-img-top" style="height:240px" src=/{{item.0.photoUrl}} alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a>{{ item.name }}</a></h4>
                    <p class="card-text">{{ item.description }}</p>
                    <a href="/hotel/?name={{item.0.name}}&civN={{item.0.address.houseNumber}}&city={{item.0.address.city}}" class="btn btn-primary">Go to details</a>
                </div>
            </div>
        {% endfor %}
{% endblock %}
