{% extends "base.html" %}
     {% block content %}
<div>
    <div id="Add Hotel">
        <button type="button">Add hotel</button>
    </div>

    <div id="List of Hotels">
        {% for item in hotelList %}
        <ul>
            <li>
                <h3>Name Hotel: {{item.0.name}}</h3>

                <p>
                    Number of room: {{item.1}}
                </p>

                <button type="button">View details</button>
            </li>
        </ul>
        {% endfor %}

    </div>
</div>
{% endblock %}